.homepage {
    font-size: 1vw;

    &.slide {
        &.slide--up {
            .homepage__subtitle {
                transform: translateX(-50%) translateY(calc(-50% + 50vh)) rotateZ(-25deg);
            }
            .homepage__mini{
                transform: translateY(60vh);
            }
            .homepage__title {
                transform: translateY(60vh);
            }
        }
    }

}

.homepage__attribution {
    $_font-size: 4em;
    position: absolute;
    bottom: $border;
    left: $border;
    color: white;
    font-size: $_font-size;
    min-height: 2.4em;
    font-family: 'Quintessential', cursive;


    .letter-group__item {
        @include clear();
    }

    .letter {
        float: left;
        display: block;
        transform: translateX(4em) scale(3);
        transition: opacity $duration, transform $duration;

        &:not(:first-child) {
            margin-left: .3em;
        }

        &:nth-child(3) {
            clear: left;
            margin-left: 0;
        }

        &:nth-child(n + 3) {
            margin-top: .4em;
        }


        &.letter--enter {
            transform: none;
        }
    }
}

.homepage__title {
    font-size: 15em;
    text-transform: uppercase;
    display: inline-block;
    margin-left: $border;
    margin-top: $border;
    transition: transform 1s;

    .letter {
        transition: opacity $duration, transform $duration;
        transform: translateX(100em);

        &.letter--enter {
            transform: none;
        }
    }
}

.homepage__mini {
    margin-top: -.5em;
    margin-left: $border;
    font-size: 5em;
    transition: transform 1s;

    .letter {
        opacity: 0;
        transform: translateY(100em);
        transition: opacity .6s, transform .6s;
        &.letter--enter {
            opacity: 1;
            transform: none;
        }
    }

}




.homepage__subtitle {
    font-family: 'Great Vibes', cursive;
    color: #B13130;
    font-size: 20em;
    transform: translateX(-50%) translateY(-50%) rotateZ(-25deg);
    transition: transform 1s;
    position: absolute;
    top: 40%;
    left: 50%;
    white-space: nowrap;

    .letter {

        &:first-child {
            font-size: 1.5em;
            // Force hardawre acceleration / rendering
            backface-visibility: hidden;
            perspective: 1000;
        }

        &.letter--leave-active {
            opacity: 0;
            transform: scale(1);
            transition: opacity $duration, transform $duration;
        }
    }
}

//@media (min-aspect-ratio: 1/1) and (max-height: 800px) {
@media (min-aspect-ratio: 1/1) {
    .homepage {
        font-size: 1vh;
    }
}

//@media screen and (min-aspect-ratio: 1/1) {
