
.letter-group {
    position: relative;
    display: inline-block;
    min-height: 1em;
}

.letter-group__item {
    position: relative;
    display: inline-block;

    &.letter-group__item--leave {
        opacity: 1;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scale(1);
    }

    &.letter-group__item--leave-active {
        opacity: 0;
        transition: opacity $duration, transform $duration;
    }

}

.letter {
    opacity: 0;
    display: inline-block;
    transform: scale(.5) translateX(1em) translateY(1em);
    transition: opacity $duration, transform $duration;

    &.letter--enter {
        transform: none;
        opacity: 1;
    }

}
