$duration: .4s;
$image-width: 60em;
$border: 2vw;
$mobile: 414px;

@import 'reset';
@import 'mixins';

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
}


.clear {
    @include clear();
}


html, body, .root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

body {
    font-family: 'Amiri', serif;
    background-color: #B9A37D;
}


.image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: $image-width;
    height: auto;
    transition: transform 1s;
    font-size: 1vw;
}

.pictures__container {
    position: relative;
    overflow: auto;
    margin-top: $border;
    margin-left: $border;
    margin-right: $border;
    height: 50vw;
    white-space: nowrap;
}

.pictures__captions {
    position: absolute;
    right: $border;
    bottom: $border;
    width: 60vw - $border - $border;
    height: 30vw;
}

.pictures__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    //width: 100%;
    height: auto;
    max-height: 100%;
    &:not(:first-child) {
        margin-left: 4vw;
    }
}

.root {
    .root--pictures {
        .image {
            transform: scale(.5) translateX(calc(-200vw + 150%)) translateY(50%);
        }
    }
    .root--about {
        .image {
            transform: scale(.5) translateX(50%) translateY(50%);
        }
    }
}

@import 'slide';
@import 'letter';
@import 'homepage';
@import 'about';
@import 'nav';
@import 'hamburger';

@media (min-aspect-ratio: 1/1) {
    .image {
        font-size: 1vh;
    }
}
