$duration: .4s;
$image-width: 40vw;
$border: 2vw;
$mobile: 400px;

@import 'reset';
@import 'mixins';

* {
    box-sizing: border-box;
}


.clear {
    @include clear();
}


html, body, .root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

body {
    font-family: 'Amiri', serif;
    background-color: #B9A37D;
}


@import 'root';

@media (max-width: $mobile) {
    $border: 4vw;
    @import 'root';
    .homepage {
        .subtitle {
            position: absolute;
            width: 100%;
            top: 50%;
            margin-top: -1.25em;
        }
    }
}

